.stub-page
    button.dark-btn Dark theme
    .main
        .main__left
            p.main__left-txt Već radimo na rješavanju problema, a do tad posjetite ostale promocije:
            a(href="/promos/promotions/all/").main__left-btn Na promocije
        .main__right
            .koala
            .bubble
                p.bubble-txt Ups, nešto je pošlo po krivu...
            .icons
                .icons-top
                .icons-marks
                .icons-bottom
                .icons-left